.container {
    flex: 1 1 auto;
    padding: 8px;
    display: flex;
    align-items: stretch;
}
.column {
    display: flex;
    padding: 8px;
    flex-direction: column;
}

.tasks {
    flex: 1 1 640px;
}
.task {
    flex: 0 1 640px;
}
