$colors: (
    'primary': #e9506d,
    'secondary': #00727c,
    'tertiary': #002748,
    'headerText': #013f6e,
    'bodyText': #212529,
);

$shadow1: 0 1px 4px 0 rgba(0, 15, 23, 0.08), 0 1px 8px 0 rgba(0, 15, 23, 0.08);
$shadow2: 0 2px 8px 0 rgba(0, 15, 23, 0.08), 0 4px 12px 0 rgba(0, 15, 23, 0.08);
$shadow3: 0 4px 16px 0 rgba(0, 15, 23, 0.1), 0 8px 16px 0 rgba(0, 15, 23, 0.1);
$shadow4: 0 5px 24px 0 rgba(0, 15, 23, 0.12),
    0 10px 20px 0 rgba(0, 15, 23, 0.12);
$shadow5: 0 10px 32px 0 rgba(0, 15, 23, 0.14),
    0 12px 24px 0 rgba(0, 15, 23, 0.14);
$shadow6: 0 14px 40px 0 rgba(0, 15, 23, 0.16),
    0 15px 32px 0 rgba(0, 15, 23, 0.16);

$radiusMedium: 4px;
$radiusLarge: 8px;
